/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100% ;
    
    width:100%;
}

app-header {
   width:100%;
}
/*
app-middle-up {
  width: 100%;
}

app-middle-down {
  width: 100%;
}
*/
.container {
  width:100%;
  padding: 0;
  margin: 0;
}

.col {
  padding: 0;
  margin: 0;
}


